{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>

<head>
	

</head>

<body>

	<div id="page-wrap">

		
		
		
		
		<div style="clear:both"></div>
		
		<div id="customer">

        </br></br></br>

            <table id="meta">
                <tr>
                    <td class="meta-head">Name</td>
                    <td><textarea></textarea></td>
                    <span style="margin-left: 5em;">
                            <td class="meta-head" > Age</td>
                            <td><textarea id="date "></textarea></td>
                            <td class="meta-head">Date</td>
                            <td><textarea id="date"></textarea></td>
                    </span>
                    
                </tr>
                <tr>

                    
                </tr>
                <tr>
                   
                </tr>

            </table>
		
        </div>
    </br></br></br>
		
		<table class="table table-bordered">
		
		  <tr>
		      <th>Item</th>
		      <th>Description</th>
		      <th>Unit Cost</th>
		      <th>Quantity</th>
		      <th>Price</th>
		  </tr>
		  
		  
		  
		  <tr class="item-row">
		      <td class="item-name">
                  <div class="delete-wpr"><textarea></textarea><a class="delete" href="javascript:;" title="Remove row">X</a></div></td>

		      <td class="description"><textarea></textarea></td>
		      <td><textarea class="cost"></textarea></td>
              <td><textarea class="qty"></textarea></td>
              <td><textarea class="price" id="price"></textarea></td>
		      
		  </tr>
		  
		  <tr id="hiderow">
		    <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add a row</a></td>
		  </tr>
		  
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Subtotal</td>
		      <td class="total-value"><div id="subtotal"></div></td>
		  </tr>
		  
		
		</table>
		
		
	
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
             <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script>
        $('.item-row').on('input','.price','.addrow',function(){
	    var totalSum = 0;
	    $('.item-row .price').each(function(){
		    var inputVal = $(this).val();
		    if($.isNumeric(inputVal)){
			    totalSum += parseFloat(inputVal);
		    }
		    });
		$('#subtotal').text(totalSum);
        });
        
        $("#addrow").click(function(){
        $(".item-row:last").after('<tr class="item-row"><td class="item-name"><div class="delete-wpr"><textarea>Item Name</textarea><a class="delete" href="javascript:;" title="Remove row">X</a></div></td><td class="description"><textarea>Description</textarea></td><td><textarea class="cost"></textarea></td><td><textarea class="qty"></textarea></td><td><textarea class="price"></textarea></td></tr>');
         if ($(".delete").length > 0) $(".delete").show();
        bind();
        });
    </script>
	
</body>

</html>
{% endblock %}