{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<head>

</head>
<body>
    <section id="top-a"><div class="grid-block">
        <div class="grid-box width100 grid-h"><div class="module mod-color style-color deepest">

    
<img ondragstart="return false;" src="/images/banner.jpg" border="0" style="border: 0;" />

</div></div>			</div></section>
                
                
                <div id="main"><div><div class="grid-block">
    
        <div id="maininner" class="grid-box">
        
                
                                
                
                                <section id="content" class="grid-block">
<div id="system-message-container">
</div>

<div id="system">


<article class="item">

        <header>

                                
                                
                
    <h1 class="title"> <center>   <a ondragstart="return false;" href="">ക്ഷേത്ര ഭരണസമിതി</a></center></h1>

    
</header>
    

<div class="content clearfix">


<table style="margin-left: auto; margin-right: auto;" border="0">
<tbody>
<tr>
<td style="text-align: center;">ക്ഷേത്രം തന്ത്രി</td>
<td style="text-align: center;"></td>
<td style="text-align: center;">ക്ഷേത്രം മേല്‍ശാന്തി</td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;<img ondragstart="return false;" style="background-image: url(https://i.ibb.co/PTQKHyZ/4.jpg);" alt="unnikrishnan-namboothiri" style="vertical-align: middle; display: block; margin-left: auto; margin-right: auto;" width="128" height="150" /></td>
<td style="text-align: center;"></td>
<td style="text-align: center;">&nbsp;<img ondragstart="return false;" src="/images/admin/binusanthi.jpg" alt="binusanthi" style="vertical-align: middle; display: block; margin-left: auto; margin-right: auto;" width="126" height="150" /></td>
</tr>
<tr>
<td style="text-align: center;">ബ്രഹ്മശ്രീ.&nbsp; ഉണ്ണികൃഷ്ണന്‍ നമ്പൂതിരി</td>
<td style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: center;">ബ്രഹ്മശ്രീ. ബിനു ശാന്തി</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><strong>ദേവസ്വം മാനേജിംഗ് കമ്മറ്റി</strong></p>
<table style="margin-left: auto; margin-right: auto;" border="0">
<tbody>
<tr>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/avatar.jpg" alt="avatar" style="vertical-align: middle;" width="150" height="150" /></td>
<td></td>
<td valign="middle" align="center">&nbsp;<img ondragstart="return false;" src="/images/admin/muralidharanssan.jpg" alt="avatar" style="vertical-align: middle;" width="120" height="150" /></td>
</tr>
<tr>
<td style="text-align: center;">ജെ. പ്രസാദ്‌<br />Mob : 9447894601</td>
<td></td>
<td style="text-align: center;">ജെ. മുരളീധരന്‍ ആശാന്‍<br />Mob : 9656736779</td>
</tr>
<tr>
<td align="center">ദേവസ്വം പ്രസിഡന്റ്‌</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td align="center">&nbsp;ദേവസ്വം സെക്രട്ടറി&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>ദേവസ്വം താക്കോല്‍ക്കാര്‍</strong></p>
<table style="margin-left: auto; margin-right: auto;" border="0" align="center">
<tbody>
<tr>
<td align="center">&nbsp;<img ondragstart="return false;" src="/images/admin/krishnankuttypillai.jpg" alt="krishnankuttypillai" width="129" height="150" /></td>
<td></td>
<td align="center">&nbsp;<img ondragstart="return false;" src="/images/admin/Gopala-Krishnapillai.jpg" alt="Gopala-Krishnapillai" width="111" height="150" /></td>
</tr>
<tr>
<td>ജെ. കൃഷ്ണന്‍കുട്ടി പിള്ള</td>
<td>&nbsp; &nbsp; &nbsp;</td>
<td>ഗോപാലകൃഷ്ണപിള്ള</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>ദേവസ്വം കമ്മറ്റി അംഗങ്ങള്‍</strong></p>
<table style="margin-left: auto; margin-right: auto;" border="0">
<tbody>
<tr>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/c-sundharesanpillai.jpg" alt="c-sundharesanpillai" width="124" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/M-Baiju.jpg" alt="M-Baiju" style="vertical-align: middle;" width="116" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/R-Gangadharan-Pillai.jpg" alt="R-Gangadharan-Pillai" style="vertical-align: middle;" width="121" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/avatar.jpg" alt="avatar" width="150" height="150" /></td>
</tr>
<tr>
<td>സി.സുന്ദരേശന്‍ പിള്ള</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td valign="middle" align="center">എം. ബൈജു</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>ആര്‍. ഗംഗാധരന്‍ പിള്ള</td>
<td>&nbsp; &nbsp;&nbsp;</td>
<td valign="middle" align="center">ജി. ജയപ്രകാശ്</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="0">
<tbody>
<tr>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/Siju-Devan.jpg" alt="Siju-Devan" style="vertical-align: middle;" width="117" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/k-sivaprakash.jpg" alt="k-sivaprakash" width="127" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/avatar.jpg" alt="avatar" width="150" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/G-Babuji.jpg" alt="G-Babuji" style="vertical-align: middle;" width="123" height="150" /></td>
</tr>
<tr>
<td valign="middle" align="center">സിജുദേവന്‍</td>
<td>&nbsp; &nbsp;&nbsp;</td>
<td valign="middle" align="center">കെ. ശിവപ്രകാശ്‌</td>
<td>&nbsp; &nbsp; &nbsp;</td>
<td valign="middle" align="center">ജി. സുരേഷ്ബാബു</td>
<td>&nbsp; &nbsp;&nbsp;</td>
<td valign="middle" align="center">ജി.ബാബുജി</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" border="0">
<tbody>
<tr>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/avatar.jpg" alt="avatar" width="150" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/R-Nirmala.jpg" alt="R-Nirmala" width="115" height="150" /></td>
<td></td>
<td>&nbsp;<img ondragstart="return false;" src="/images/admin/avatar.jpg" alt="avatar" width="150" height="150" /></td>
<td></td>
<td></td>
</tr>
<tr>
<td valign="middle" align="center">എസ്. പ്രേംലാല്‍</td>
<td>&nbsp; &nbsp;&nbsp;</td>
<td valign="middle" align="center">ആര്‍. നിര്‍മ്മല</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td valign="middle" align="center">എല്‍. സത്യശീലന്‍</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>		</div>


    
</article>

</div></section>
</body>
</html>
{% endblock %}
