{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">God</th>
        <th scope="col">Edit | Delete </th>
    </tr>
</thead>
<tbody>
    {% for article in object_list %}
    <tr>
      <th scope='row'>{{ forloop.counter }}</th>
      <td>{{article.name}}</td>
      <td>{{article.amount}}</td>
       <td>{{article.god}}</td>
      <td><a href= "{% url 'article_edit' article.pk %}" class="btn-sm btn-success text-right">Edit</a>
        <a href= "{% url 'article_delete' article.pk %}" class="btn-sm btn-danger text-right">Delete</a></td> 
        
    </tr>
</tbody>
{% endfor %}
</table>
</div>

{% endblock content %}