{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
    
                     
            <h1 class="title">പൂജ സമയ വിവരം </h1>
            
        
        <div class="content clearfix">
        
    
    <p><span style=""><strong>ദിവസ പൂജ സമയം</strong></span></p>
    <p><span style=""><b>രാവിലെ :</b><strong><br /></strong></span>ക്ഷേത്രം തുറക്കുന്ന സമയം : 5 AM<br />നിര്‍മാല്യ ദര്‍ശനം : 5.15 AM വരെ<br />പൂജ : 8.30 AM<br />ക്ഷേത്രം അടയ്ക്കുന്ന സമയം : 10 AM</p>
    <p><span style=""><b>വൈകുന്നേരം :</b></span><br data-mce-bogus="1" />ക്ഷേത്രം തുറക്കുന്ന സമയം : 5 PM<br />ദീപാരാധന : സന്ധ്യാസമയം<br />അത്താഴ പൂജ : 7.30 PM<br />ക്ഷേത്രം അടയ്ക്കുന്ന സമയം : 10 PM</p>
    <p>** വിശേഷ ദിവസങ്ങളില്‍ ഈ സമയത്തിന് മാറ്റം ഉണ്ടാകും.</p> 		
</div>       
</body>
</html>

{% endblock %}