{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
   <head>
      <title>hai NamA</title>
   </head>
   <body>
         <form>
               <fieldset>
                 <legend>Pooja Details</legend>
                 <div class="form-group">
                   <label>ശ്രീകൃഷ്ണപൂജ</label>
                   <input type="number" class="form-control prc"/>
                 </div>
           
                 <div class="form-group">
                     <label>പുഷ്‌പാഞ്‌ജലി</label>
                     <input type="number" class="form-control prc"/>
                   </div>
                   
                   <div class="form-group">
                       <label>ത്രികാലപൂജ</label>
                       <input type="number" class="form-control prc"/>
                     </div>
                     <div class="form-group">
                           <label>ദീപസ്തംഭം</label>
                           <input type="number" class="form-control prc"/>
                         </div>
                         <div class="form-group">
                              <label>പഞ്ചാമൃതം</label>
                              <input type="number" class="form-control prc"/>
                            </div>
                            <div class="form-group">
                                 <label>ത്രിമധുരം</label>
                                 <input type="number" class="form-control prc"/>
                               </div>
                               <div class="form-group">
                                    <label>ദീപാരാധന</label>
                                    <input type="number" class="form-control prc"/>
                                  </div>
                     <div class="form-group">
                         <label>total</label>
                         <output id="result"></output>
                       </div>
           
               </fieldset>
             </form>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script
             <script src="/assets/js/jquery-3.4.1.min.js"></script>
             <script>
               $('.form-group').on('input','.prc',function(){
                 var totalSum = 0;
                 $('.form-group .prc').each(function(){
                   var inputVal = $(this).val();
                   if($.isNumeric(inputVal)){
                     totalSum += parseFloat(inputVal);
                   }
                 });
                 $('#result').text(totalSum);
               });
             </script>

   </body>
</html>
{% endblock %}