{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="container">
                <h2>വഴിപാട് വിവരങ്ങൾ </h2>
                <p>പുതുക്കിയത് </p>            
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>വഴിപാട് </th>
                      <th>രൂപ </th>
                      <th>പ്രതിഷ്ട </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ശ്രീകൃഷ്ണപൂജ</td>
                      <td>10</td>
                      <td>ശ്രീകൃഷ്ണൻ</td>
                    </tr>
                    <tr>
                      <td>പുഷ്‌പാഞ്‌ജലി</td>
                      <td>10</td>
                      <td>ശ്രീകൃഷ്ണൻ</td>
                    </tr>
                    <tr>
                      <td>ത്രികാലപൂജ</td>
                      <td>29</td>
                      <td>ശ്രീകൃഷ്ണൻ</td>
                    </tr>
                    <tr>
                          <td>ദീപസ്തംഭം</td>
                          <td>10</td>
                          <td>ശ്രീകൃഷ്ണൻ</td>
                        </tr>
                        <tr>
                          <td>പഞ്ചാമൃതം</td>
                          <td>10</td>
                          <td>ശ്രീകൃഷ്ണൻ</td>
                        </tr>
                        <tr>
                          <td>ത്രിമധുരം</td>
                          <td>29</td>
                          <td>ശ്രീകൃഷ്ണൻ</td>
                        </tr>
                        <tr>
                              <td>ദീപാരാധന</td>
                              <td>10</td>
                              <td>ശ്രീകൃഷ്ണൻ</td>
                            </tr>
                            <tr>
                              <td>വെണ്ണ നിവേദ്യം</td>
                              <td>10</td>
                              <td>ശ്രീകൃഷ്ണൻ</td>
                            </tr>
                            <tr>
                              <td>പാൽപ്പായസം</td>
                              <td>29</td>
                              <td>ശ്രീകൃഷ്ണൻ</td>
                            </tr>
                            <tr>
                                  <td>വാഹനപൂജ</td>
                                  <td>10</td>
                                  <td>ശ്രീകൃഷ്ണൻ</td>
                                </tr>
                                <tr>
                                  <td>നെയ് വിളക്ക്</td>
                                  <td>10</td>
                                  <td>ശ്രീകൃഷ്ണൻ</td>
                                </tr>
                                <tr>
                                  <td>വിദ്യാരംഭം</td>
                                  <td>29</td>
                                  <td>ശ്രീകൃഷ്ണൻ</td>
                                </tr>
                                <tr>
                                      <td>ചോറൂൺ</td>
                                      <td>10</td>
                                      <td>ശ്രീകൃഷ്ണൻ</td>
                                    </tr>
                                    <tr>
                                      <td>വിവാഹകർമം(വധു വരൻ</td>
                                      <td>10</td>
                                      <td>ശ്രീകൃഷ്ണൻ</td>
                                    </tr>
                                    <tr>
                                      <td>കളഭം ചാർത്തൽ(പൂർണ്ണം</td>
                                      <td>29</td>
                                      <td>ശ്രീകൃഷ്ണൻ</td>
                                    </tr>
                                    <tr>
                                          <td>കളഭം ചാർത്തൽ(മുഖം)</td>
                                          <td>10</td>
                                          <td>ശ്രീകൃഷ്ണൻ</td>
                                        </tr>
                                        <tr>
                                          <td>നെയ്പായസം</td>
                                          <td>10</td>
                                          <td>ശ്രീകൃഷ്ണൻ</td>
                                        </tr>
                                        <tr>
                                          <td>അഭിഷേകം (സാധനത്തിന് പുറമെ) </td>
                                          <td>29</td>
                                          <td>ശ്രീകൃഷ്ണൻ</td>
                                        </tr>
                                        <tr>
                                              <td>ദീപസ്തംഭം - ചുറ്റുവിളക്ക് പൂജ</td>
                                              <td>10</td>
                                              <td>ശ്രീകൃഷ്ണൻ</td>
                                            </tr>
                                            <tr>
                                              <td>വിശേഷാൽ പൂജ</td>
                                              <td>10</td>
                                              <td>ശ്രീകൃഷ്ണൻ</td>
                                            </tr>
                                            <tr>
                                              <td>കർപ്പൂരാരാധന </td>
                                              <td>29</td>
                                              <td>ശ്രീകൃഷ്ണൻ</td>
                                            </tr>
                                            <tr>
                                                  <td>ചോറൂൺ</td>
                                                  <td>10</td>
                                                  <td>ശ്രീഗണപതി</td>
                                                </tr>
                                                <tr>
                                                  <td>വിവാഹകർമം(വധു വരൻ</td>
                                                  <td>10</td>
                                                  <td>ശ്രീഗണപതി</td>
                                                </tr>
                                                <tr>
                                                  <td>ത്രികാലപൂജ</td>
                                                  <td>29</td>
                                                  <td>ശ്രീഗണപതി</td>
                                                </tr>
                  </tbody>
                </table>
              </div>


</body>
</html>

{% endblock %}